@model ProgrammingChallenge.Models.JsonData
@{
    ViewBag.Title = "Extract Web Data";
}

<h3>Extracted json data: </h3>
<div>
    <pre>
        @Model.ExtractedJsonData
    </pre>
    <button onclick="location.href='@Url.Action("DownloadExtractedData", "Home")'">
        <span class="glyphicon glyphicon-download-alt"></span>
        Download file
    </button>
</div>

