@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h3>Hello <i>PrestaCap</i>, welcome in <i>Esmeralda's</i> programming challenge</h3>
        <br />
        <div>
            <h4>Task 1: Web Extraction</h4>
            <button onclick="location.href='@Url.Action("Extract", "Home")'">
                <span class="glyphicon glyphicon-list-alt"></span>
                Click here to extract data
            </button>
        </div>
        <div>
            <h4>Task 2: Reporting</h4>
            <button id="reporting" onclick="location.href='@Url.Action("Reporting", "Home")'">
                <span class="glyphicon glyphicon-list-alt"></span>
                Click here to generate report
            </button>
        </div>
    </div>
</div>