body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding: 15px
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #246982;
    border: none;
}

h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

button {
    background-color: #011b23;
    padding: 12px;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
}

#extract_message {
    background-color: grey;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}